.book-details-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #adb7da;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .book-details{
    display: flex;
    height: 475px;
  }

  .book-details-content {
    margin-left: 20px;
  }
  
  .book-image-container{
    width: 300px;
    height: 400px;
  }

  .book-details-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .book-details-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #3d52a0
  }
  
  .book-details-author {
    font-size: 16px;
    color: #8697c4;
    font-weight: bold;
  }
  

  .book-details-rating {
    display: flex;
    align-items: center;
  }
  
  .rating-stars {
    margin-left: 10px;
  }
  
  .star {
    color: gold;
  }

  .book-details-description {
    margin-top: 10px;
    line-height: 1.5;
  }
  
  .book-details-tags {
    margin-top: 10px;
  }
  
  .book-details-tags button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: #0056b3;
    }
  }
  
  /* .book-details-tags button:last-child {
    margin-right: 0;
  } */
  
  
  .book-details-action {
    margin-top: 20px;
  }
  
  .book-details-action button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover{
    background-color: #218838;
    }
  }
  
  
  .book-reviews-container {
    /* width: 400px; */
  }
  
  .book-reviews-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .book-review {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  .book-review-fullname {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .book-review-text {
    margin-top: 5px;
    line-height: 1.5;
  }
  
  .add-review-form {
    margin-top: 20px;
  }
  
  .add-review-form label {
    font-weight: bold;
  }
  
  .add-review-form input,
  .add-review-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-review-form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: #0056b3;
    }
  }
  
 