.genre-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
}

.genre-card {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-card:hover {
    transform: scale(1.05);
}

.genre-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.genre-title {
    z-index: 2;
    color: white;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.genre-card a{
    text-decoration: none;
}
