
.navbar{
    background-color: #3d52a0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  0 20px;
    position: relative;
    z-index: 100;
   
}

.navbarInfo{
    display:flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
   
}

.navbarInfo p{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items:center ;
    justify-content: center;
    text-align: center;

    &:hover{
        background-color: #8697c4
    }
}

.nav-active{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: #ede8f5; 
}

.nav-active p{
    color: #3d52a0
}

.navbarInfo a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 50px;
}

.profile-icon-desktop{
    width: 50px;
    height: 50px;
    background-color: #ede8f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.profile-icon-desktop img{
    width: 50%;
}

.menu-icon{
    display: none;
    background: none;
    border: none;
}

.profile-icon-mobile{
    display: none;
}

@media (max-width: 760px){
    .navbar{
        justify-content: space-between;
    }

    .menu-icon{
        display: block;
    }

    .menu-icon img{
        width: 30px;
    }

    .profile-icon-desktop{
        display: none;
    }

    .profile-icon-mobile{
        display: flex;
        width: 50px;
        height: 50px;
        background-color: #ede8f5;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: 10px;
    }

    .profile-icon-mobile img{
        width: 50%;
    }

    .navbarInfo{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #3d52a0;
        padding: 10px;
        border-radius: 10px;
        width: max-content;
    }

    .navbarInfo.active {
        display: flex;
    }

    .navbarInfo a {
        text-decoration: none;
        color: white;
    }
}
