.profile-sidebar-main{
    width: 150px;
    background-color:  #3d52a0;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
}

.profile-sidebar-main h3{
    color:white;

}

.profile-sidebar-main a{
    text-decoration: none;
    color: white
}

.profile-link{
    width: 100px;
    height: 60px;
    padding: 0 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: #8697c4
    }
    
}

.profile-active{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color:#ede8f5; 
}

.profile-active p{
    text-decoration: none;
    color: #3d52a0;

}

.profile-link a{
    text-decoration: none;
}

.profile-menu {
    display: none;
    background-color: #3d52a0;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 0;
    cursor: pointer;
}

@media (max-width: 760px) {

    .profile-container {
        flex-direction: column;
    }

    .profile-sidebar-main {
        width: 50%;
        margin: 0 auto;
        margin-top: 5px;
        z-index: 999;
        padding: 10px;
        border-radius: 5px;
        display: none;
        align-items: center; 
        justify-content: center;
    }
    
    .profile-sidebar-main.visible {
        display: flex; 
    }

    .profile-sidebar-main h3{
        display: none;
    }

    .profile-link {
        width: 60%;
    }

    .profile-menu {
        display: block;
    }
}